.users-page{
    width: 100%;

    h2{
        font-family: Work Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.15px;
        text-align: left;
        color: rgba(33, 63, 125, 1);
    }

    .userStats{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 40px;
    }
}



/*////////////////////////// /////////////////////     Login     //////////////////////// //////////////*/
.login{
    display: flex;
    width: 100%;


    .login-left-side{
        flex: 50%;
        padding: 92px 0 0 60px;
        display: block;
        background: rgba(255, 255, 255, 1);


        .login-logo{
            display: flex;
            align-items: start;
            margin-bottom: 90px;
            padding-left: 30px;

            .union-logo{
                width: 24.75px;
                height: 25px;
                margin-top: 2px;
                margin-right: 10px;
            }
        }

        .login-img{
            margin-top: 5px;
            width: 100%;
        }
    }

    .login-right-side{
        height: 100vh;
        flex: 50%;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.03);
        padding: 150px 0 0 80px;

        h1{
            font-family: Avenir Next;
            font-size: 40px;
            font-weight: 700;
            line-height: 54.64px;
            letter-spacing: -0.04em;
            text-align: left;
            color: rgba(33, 63, 125, 1);
        }

        p{
            font-family: Avenir Next;
            font-size: 20px;
            font-weight: 400;
            line-height: 27.32px;
            text-align: left;
            color: rgba(84, 95, 125, 1);
        }

        form{
            width: 80%; 
            margin-top: 50px;

            p{
                font-family: Avenir Next;
                font-size: 12px;
                font-weight: 600;
                line-height: 16.39px;
                letter-spacing: 0.1em;
                color: rgba(57, 205, 204, 1);
                padding: 10px 0;

            }

            button{
                width: 90%;
                background: rgba(57, 205, 204, 1);
                height: 48px;
                border-radius: 8px;
                border: none;
                font-family: Avenir Next;
                font-size: 14px;
                font-weight: 600;
                line-height: 19.12px;
                letter-spacing: 0.1em;
                text-align: center;
                color: rgba(255, 255, 255, 1);
            }

            button:hover{
                cursor: pointer;
                background: rgb(38, 141, 141);
            }

            .form-page{
                display: flex;
                flex-direction: column;
                gap: 15px;

                input {
                    width: 90%;
                    height: 50px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    border: 2px solid rgba(84, 95, 125, 0.15);
                    font-size: 16px;
                    
                }

                input::placeholder{
                    padding-left: 20px;
                    color: rgba(84, 95, 125, 0.15);
                    font-family: Avenir Next;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.12px;
                    color: rgba(84, 95, 125, 1);
                    opacity: 0.6;
                }

                .password-input{
                    position: relative;

                    .show-password {
                        position: absolute;
                        top: 12px;
                        right: 60px;
                        padding: 5px 10px;
                        cursor: pointer;
                        color: rgba(57, 205, 204, 1);
                        font-family: Avenir Next;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 16.39px;
                        letter-spacing: 0.1em;
                        

                    }
                }
            }
        }

    }
}



/*////////////////////////// /////////////////////    USER DET CONT    //////////////////////// //////////////*/

// UserDetail.scss
.user-detail {

    .user-detail-cont {
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 20px;
        }
        h2 {
            margin: 0;
        }
        p {
            margin: 5px 0;
        }

        .detail-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                font-family: Work Sans;
                font-size: 24px;
                font-weight: 500;
                line-height: 28.15px;
                text-align: left;
                color: rgba(33, 63, 125, 1);
            }

            button{
                width: 170px;
                height: 40px;
                border-radius: 8px;
                background: none;
                cursor: pointer;
            }

            .blacklist {
                color: rgba(228, 3, 59, 1);
                background: inherit;
                border: 1px solid rgba(228, 3, 59, 1);
            }

            .activate{
                border: 1px solid rgba(57, 205, 204, 1);
                color: rgba(57, 205, 204, 1);
            }
        }

        .header-card{
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
            margin: 40px 0 30px 0;
            padding: 30px 30px 0 30px;

            .header-card-details{
                display: flex;
                align-items: center;
                .avatar-part{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding-right: 30px;
                    border-right: 1px solid rgba(84, 95, 125, 0.336);
                    h2{
                        font-family: Work Sans;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 25.81px;
                        text-align: left;
                        color: rgba(33, 63, 125, 1);
                    }
                    p{
                        font-family: Work Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.42px;
                        text-align: left;
                        color: rgba(84, 95, 125, 1);
                    }
                }

                .tier-part{
                    padding: 0 30px;
                    border-right: 1px solid rgba(84, 95, 125, 0.336);
                    p{
                        font-family: Work Sans;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16.42px;
                        text-align: left;
                        color: rgba(84, 95, 125, 1);
                    }
                }

                .balance-part{
                    padding-left: 30px;

                    h2{
                        font-family: Work Sans;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 25.81px;
                        text-align: left;
                        color: rgba(33, 63, 125, 1);
                    }
                    p{
                        font-family: Work Sans;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.08px;
                        text-align: left;
                        color: rgba(33, 63, 125, 1);
                    }

                }
            }
            .change-section{
                display: flex;
                justify-content: space-between;
                padding-top: 50px;

                .section-name{
                    font-family: SF Compact Text;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.09px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.8);
                    padding: 0 20px 5px 20px;

                }
            }
        }

        .sections{
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
            margin: 40px 0 30px 0;
            padding: 30px 30px 28px 30px;

            section{
                border-bottom: 1px solid rgba(33, 64, 125, 0.096);
                padding-bottom: 30px;

                h3{
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18.77px;
                    text-align: left;
                    color: rgba(33, 63, 125, 1);
                    padding-bottom: 30px;
                    margin-bottom: 0;
                }

                .info-body{
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 30px;

                    span{
                        width: 20%;
                    }

                    h4{
                        font-family: Work Sans;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 14.08px;
                        text-align: left;
                        color: rgba(84, 95, 125, 1);
                        padding-bottom: 4px;
                        opacity: 0.8;
                    }
                    p{
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.77px;
                        text-align: left;
                        color: rgba(84, 95, 125, 1);
                    }
                }
            }
        }
    }
  
    .sections {
      margin-top: 20px;
  
      section {
        margin-bottom: 20px;
        
        h3 {
          font-size: 1.2em;
          margin-bottom: 10px;
        }
  
        p {
          margin: 4px 0;
        }
      }
    }
}
  


/*////////////////////////// /////////////////////    RESPONSIVE    //////////////////////// //////////////*/
@media screen and (max-width:900px) {
    .login{
        .login-left-side{
            position: relative;
            padding-left: 10px;
            .login-img{
                opacity: 0.6;
            }
        }
        .login-right-side{
            position: absolute;
            top: 0;
            background: transparent;
            width: 100%;
            padding-left: 40px;
            height: 80%;

            form{
                .form-page{
                    
                    .password-input{
                        .show-password{
                            right: 30px;
                        }
                    }
                }
                
            }
        }
    }
}