.table-bg{
    height: 655px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

    .data-grid{
        padding: 10px 20px;
    }
}



/////////////////////////////////////////      infor card   ///////////////////////////////////////////*/

.infoCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 140px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgb(255, 255, 255, 1);
  padding: 1rem 2rem 1rem 2rem;
  row-gap: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Work Sans", sans-serif;
  transition: transform 0.2s ease;

  .infoCardIcon {
    font-size: 1.8rem;
    margin-right: 1rem;
    color: inherit; // Matches icon color with background color
  }


  .infoCardLabel {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.42px;
    text-align: left;
    color:rgba(84, 95, 125, 1);
  }

  .infoCardValue {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.15px;
    text-align: left;
    color: rgba(33, 63, 125, 1);
  }

}


/////////////////////////////////////////      pagination   /////////////////////////////////////////////*/
.pagination{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  .left-pag{
    font-family: Work Sans;
    color: rgba(84, 95, 125, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: left;

    select{
      margin: 0 10px;
      background: rgba(33, 63, 125, 0.1);
      width: 80px;
      height: 30px;
      border-radius: 4px;
    }
  }

  .right-pag{

    button{
      color: rgba(33, 63, 125, 1);
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: rgba(33, 63, 125, 0.1);
      border: none;
      margin-left: 15px;
      cursor: pointer;
    }

    button:disabled{
      color: rgba(84, 95, 125, 1);
      opacity: 0.6;
      cursor: auto;
    }
    
    .page-list{
        button{
          background: none;
          margin-left: 15px;
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.77px;
          color: rgba(84, 95, 125, 1);
          opacity: 0.6;
        }

        .page-list.active {
          font-weight: 800;
          opacity: 1;
          
        }
    }
  }
}