/*.heade {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
    transition: 0.5s;
    z-index: 100;
    box-sizing: border-box;

    .header-cont{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem 0 2rem;

        .header-toggle{
            display: none;
            padding-right: 20px;
        }

        .search{
            display: flex;
            align-items: center;
            width: 40%;
    
            input{
                width: 344px;
                height: 40px;
                border-radius: 8px 0 0 10px ;
                border: 1px solid rgb(214, 211, 211);
                opacity: 0.7;
    
    
                
            }
    
            input::placeholder{
                padding-left: 30px;
                opacity: 0.7;
            }
    
            .search-icon{
                width: 56px;
                height: 44px;
                opacity: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 10px 10px 0;
                background: rgba(57, 205, 204, 1);
                
            }
        }

        .right-side-header{
            display: flex;
            align-items: center;
            gap: 20px;
          
            a{
              text-decoration: underline;
            }
        }
    }
}
@media (max-width: 768px) {
    header{
        .header-cont{
            .header-toggle{
                display: block;
            }
            .search{
                display: none;
            }
        }
        
    }
}*/

/*
    .nav-logo {
        font-size: 20px;
        margin-left: 5px;
        flex: 60px;
      
    }
  
    /*.header-toggle { it was always commented out
        font-size: 1.25rem;
        cursor: pointer;
        color: var(--first-color);
    }*/
  
/*
    .search{
        flex: 500px;
        display: flex;
        align-items: center;
        width: 400px;

        input{
            width: 344px;
            height: 40px;
            border-radius: 8px 0 0 10px ;
            border: 1px solid rgb(214, 211, 211);
            opacity: 0.7;


            
        }

        input::placeholder{
            padding-left: 30px;
            opacity: 0.7;
        }

        .search-icon{
            width: 56px;
            height: 40px;
            opacity: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 10px 10px 0;
            background: rgba(57, 205, 204, 1);
            
        }
    }

    .right-side-header{
        display: flex;
        align-items: center;
        gap: 20px;
      
        a{
          text-decoration: underline;
        }
    }
}
*/


/*////////////////////////// sidebar///////////////////////////////////////////////////////////////**/
/*
.sidebar {
    position: absolute;
    top: 0px;
    left: -70%;
    height: 100vh;
    width: 200px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
    padding-top: 1rem;
    transition: 0.5s;

  
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
  }
  
  .topnav{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(182, 180, 180);
  }
  
  
  .nav-logo,
  .nav-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  
  .nav-logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
  }
  
  .nav-logo-name {
    font-weight: 700;
    color: var(--white-color);
  }
  
  .nav-link {
    position: relative;
    color: var(--white-color);
    transition: 0.5s;
    margin-bottom: 1.5rem;
  }

  .nav-link-name{
    color: black;
  }
  
}
*/


/*////////////////////////// Table///////////////////////////////////////////////////////////////**/

/*.MuiDataGrid-root {
  .MuiDataGrid-columnHeaders {
    color: rgba(84, 95, 125, 1);
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.08px;
    text-align: left;
  }

  .MuiDataGrid-cell {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: left;
    color: rgba(84, 95, 125, 1);
    background: rgba(255, 255, 255, 1);

    
  }

  .MuiDataGrid-row{
    border-bottom: none;
  }
  .MuiDataGrid-row {
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .cellWithStatus {

    &.active {
      background-color: rgba(0, 128, 0, 0.1);
      color: green;
    }

    &.pending {
      background-color: rgba(255, 217, 0, 0.1);
      color: goldenrod;
    }

    &.passive {
      background-color: rgba(255, 0, 0, 0.1);
      color: crimson;
    }
  }
  
}*/

.table-bg{
    height: 655px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

    .data-grid{
        padding: 10px 20px;
    }
}



/////////////////////////////////////////      infor card   ///////////////////////////////////////////*/

.infoCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 140px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgb(255, 255, 255, 1);
  padding: 1rem 2rem 1rem 2rem;
  row-gap: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Work Sans", sans-serif;
  transition: transform 0.2s ease;

  .infoCardIcon {
    font-size: 1.8rem;
    margin-right: 1rem;
    color: inherit; // Matches icon color with background color
  }


  .infoCardLabel {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.42px;
    text-align: left;
    color:rgba(84, 95, 125, 1);
  }

  .infoCardValue {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.15px;
    text-align: left;
    color: rgba(33, 63, 125, 1);
  }

}


/////////////////////////////////////////      pagination   /////////////////////////////////////////////*/
.pagination{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  .left-pag{
    font-family: Work Sans;
    color: rgba(84, 95, 125, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: left;

    select{
      margin: 0 10px;
      background: rgba(33, 63, 125, 0.1);
      width: 80px;
      height: 30px;
      border-radius: 4px;
    }
  }

  .right-pag{

    button{
      color: rgba(33, 63, 125, 1);
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: rgba(33, 63, 125, 0.1);
      border: none;
      margin-left: 15px;
      cursor: pointer;
    }

    button:disabled{
      color: rgba(84, 95, 125, 1);
      opacity: 0.6;
      cursor: auto;
    }
    
    .page-list{
        button{
          background: none;
          margin-left: 15px;
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.77px;
          color: rgba(84, 95, 125, 1);
          opacity: 0.6;
        }

        .page-list.active {
          font-weight: 800;
          opacity: 1;
          
        }
    }
  }
}