/*:root {
  --header-height: 90px;
  --nav-width: 60px;

  --first-color: #188F47;
  --first-color-alt: #f582a7;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 0 0 1rem;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.5s;
}



.content{
  background: rgba(251, 251, 251, 1);
  padding: 60px 40px 200px 77px ;
}

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}
*/





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                 !!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   RESPOMSIVE          !!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                 !!!!!!!!!!!!!!!!!!!!!!!!! */

/*@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height)) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 180px);
  }
}
*/
main {
  position: relative;
  transition: 0.5s;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}